<% layout("/layout/boilerplate") %>
  <body>
    <div class="row mt-5 mb-5">
      <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" class="needs-validation" novalidate action="/listings">
      <div class="mb-3">
        <label for="title" class="form-lable ">Title</label>
        <input name="listing[title]" placeholder="Enter title" type="text" class="form-control"
        required />
        <div class="valid-feedback">Title Looks Good</div>
        <div class="invalid-feedback">Enter Title</div>
      </div>
      

      <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea
        name="listing[description]"
        class="form-control"
        required
      ></textarea>
      <div class="valid-feedback">Description Looks Good</div>
        <div class="invalid-feedback">Enter Description</div>
      </div>
      
     <div class="mb-3">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input
        name="listing[image][url]"
        placeholder="Enter image URL"
        type="text"
        class="form-control"
        required
      />
      <!-- <div class="valid-feedback">Title Looks Good</div> -->
      <div class="invalid-feedback">Enter Link</div>
     </div>
     <div class="mb-3">
      <label for="imageFilename" class="form-label">Image Filename</label>
      <input
        name="listing[image][filename]"
        placeholder="Enter image filename"
        type="text"
        class="form-control"
        required
      />
      <!-- <div class="valid-feedback">Title Looks Good</div> -->
        <div class="invalid-feedback">Enter FileName</div>
     </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-lable">Price</label>
          <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required />
          <!-- <div class="valid-feedback">Title Looks Good</div> -->
        <div class="invalid-feedback">Enter Valid Price</div>
        </div>
        
        
        <div class="mb-3 col-8">
          <label for="country" class="form-lable">Country</label>
          <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required />
        </div>
        <!-- <div class="valid-feedback">Title Looks Good</div> -->
        <div class="invalid-feedback">Enter Your Country</div>
      </div>
    
      
      <div class="mb-3">
        <label for="location" class="form-lable">location</label>
        <input
        name="listing[location]"
        placeholder="Enter location"
        type="text"
        class="form-control"
        required
      />
      <!-- <div class="valid-feedback">Title Looks Good</div> -->
        <div class="invalid-feedback">Enter Valid Location</div>
      </div class="mb-3">
      
      <button class="btn btn-dark mt-2 mb-4 add-btn">List Your Place</button>
    </form>
  </div>
  </div>
  <script src=""></script>
  <script>
  (function () {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
  </body>
