<% layout("/layout/boilerplate") %>

<div class="alert alert-danger" role="alert">
  There is an error with your request. Please check the details and try again.
  <p><%= statusCode %></p>
  <p><%= message %></p>
</div>