body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.container-fluid h1 {
    color: #fe424d;
    font-size: 1.5rem;
    font-family:"Plus Jakarta Sans", sans-serif;
    margin: 1rem 0;
}
.navbar{
height: 5rem;
position: sticky;
background-color: white;
}
.nav-img{
    width: 2rem;
    height: 2rem;
    margin: 0 1.5rem;
    /* border-radius: 50%; */
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.add-btn{
    background-color:#fe424d !important;
    border: none !important;
}
.nav-link{
    color: #222222 !important;
}
.f-info {
    display: flex;
    height: 8rem;
    background-color: #f8f9fa;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}
 .f-info-links , .f-info-socials , .f-info-brand{
    width: 100%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    align-items: center;

   
    
}
.f-info-socials{
    width: 100%;
    
    
    
}
.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
}
.f-info-links a{
text-decoration: none;
color: #222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem !important;

}

.card-body{
    padding: 0  !important;

}
.card-text{
    font-weight: 600 !important;
}

.listing-link{
    text-decoration: none !important;
    
}
.card-img-overlay{
    opacity: 0 ;
}
.card-img-overlay:hover{
    opacity: 0.4 !important;
    background-color: white;
}

/* show page */

.show-img{
    height: 30vh;
    
}

.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}